USE [testdb]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 02/04/2020 6:16:40 PM ******/
DROP TABLE [dbo].[tblUser]
GO
/****** Object:  Table [dbo].[tblDailyNote]    Script Date: 02/04/2020 6:16:40 PM ******/
DROP TABLE [dbo].[tblDailyNote]
GO
/****** Object:  Table [dbo].[tblBranch]    Script Date: 02/04/2020 6:16:40 PM ******/
DROP TABLE [dbo].[tblBranch]
GO
USE [master]
GO
/****** Object:  Database [testdb]    Script Date: 02/04/2020 6:16:40 PM ******/
DROP DATABASE [testdb]
GO
/****** Object:  Database [testdb]    Script Date: 02/04/2020 6:16:40 PM ******/
CREATE DATABASE [testdb] ON  PRIMARY 
( NAME = N'testdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\testdb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ),
( NAME = N'testdb_file2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\testdb_file2.ndf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\testdb_log.ldf' , SIZE = 5184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testdb]
GO
/****** Object:  Table [dbo].[tblBranch]    Script Date: 02/04/2020 6:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBranch](
	[branchid] [int] IDENTITY(1,1) NOT NULL,
	[brcode] [char](9) NULL,
	[branch_name] [char](30) NULL,
 CONSTRAINT [PK_tblBranch] PRIMARY KEY CLUSTERED 
(
	[branchid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDailyNote]    Script Date: 02/04/2020 6:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDailyNote](
	[brcode] [char](9) NOT NULL,
	[cmdate] [date] NOT NULL,
	[memono] [varchar](40) NULL,
	[saletype] [varchar](20) NULL,
	[Vno] [numeric](5, 0) NULL,
	[cash] [decimal](10, 2) NULL,
	[dd] [decimal](10, 2) NULL,
	[cc] [decimal](10, 2) NULL,
	[customer] [decimal](10, 2) NULL,
	[gv] [decimal](10, 2) NULL,
	[upi] [decimal](10, 2) NULL,
	[description] [varchar](200) NULL,
	[totamount] [decimal](10, 2) NULL,
	[vno_credit] [numeric](5, 0) NULL,
	[description_credit] [varchar](100) NULL,
	[cash_credit] [decimal](10, 2) NULL,
	[chq_credit] [decimal](10, 2) NULL,
	[totamount_credit] [decimal](10, 2) NULL,
	[ID] [bigint] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 02/04/2020 6:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NULL,
	[Password] [nchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblBranch] ON 

INSERT [dbo].[tblBranch] ([branchid], [brcode], [branch_name]) VALUES (1, N'GHT      ', N'Gariahat                      ')
INSERT [dbo].[tblBranch] ([branchid], [brcode], [branch_name]) VALUES (2, N'TEZ      ', N'Tezpur                        ')
INSERT [dbo].[tblBranch] ([branchid], [brcode], [branch_name]) VALUES (3, N'BNG      ', N'Bongaigao                     ')
SET IDENTITY_INSERT [dbo].[tblBranch] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([UserID], [userName], [Password]) VALUES (1, N'Saumya', N'1234                                                                                                ')
SET IDENTITY_INSERT [dbo].[tblUser] OFF
USE [master]
GO
